@font-face {
	font-family: Goldman-Sans;
	src: url(GoldmanSans_W_Rg.woff2) format("woff2");
}

@font-face {
	font-family: Goldman-Sans-Medium;
	src: url(GoldmanSans_W_Md.woff2) format("woff2");
}

@font-face {
	font-family: Goldman-Sans-Bold;
	src: url(GoldmanSans_W_Bd.woff2) format("woff2");
}
